.project{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-right: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;
    gap: 2px;
   
}
.project:last-of-type{
    border-right: none;
}

.project:hover{
    opacity: 0.5;
}

.project:hover h2{
    transform: translateX(-10px);
}

.project:hover p{
    transform: translateX(10px);
}

.project h2{
    font-size: 60px;
    margin: 0px;
    font-weight: 400;
    transition: all 0.4s;
}

.project p{
    transition: all 0.4s;
    font-weight: 300;
}